* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: Arial, sans-serif;
  background-color: #ffffe3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.titulo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-size: 50px;
}

header {
  background-color: #f5b9e6;
  padding: 25px;
  color: #441a03af;
  text-align: center;
}

.topo {
  background-color: #fc6fb1b0;
  border-bottom: 2px solid #d2a6d6;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topo nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.topo nav ul li a {
  text-decoration: none;
  color: #fff5ff;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.topo nav ul li a:hover {
  background-color: #008b8b;
  color: #ffffff;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.cupcake-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.Cupcake {
  background-color: #e0ffff;
  border-radius: 10px;
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cupcake img {
  margin-bottom: 10px;
}

.Cupcake h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.Cupcake p {
  font-size: 1em;
  margin-bottom: 5px;
  text-align: center;
}

.Cupcake button {
  margin-top: auto;
  padding: 5px 10px;
  background-color: darkcyan;
  color: #e0ffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Cupcake button:hover {
  background-color: #006666;
}

footer {
  background-color: #b375d6;
  color: #ffffff;
  text-align: center;
  padding: 15px;
}

.formulario {
  background-color: #eec3f7;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  margin: 30px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario h2 {
  text-align: center;
  color: #f8eaf7;
  margin-bottom: 15px;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #dcdee2;
}

.formulario input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #dbd5d5;
  border-radius: 5px;
}

.formulario button {
  width: 100%;
  padding: 10px;
  background-color: rgb(238, 169, 234);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.formulario button:hover {
  background-color: #cc5bb4;
}
